.container {
    width: 80%;
    margin: 0 20px;;
}
.details-header {
    font-size: 24px;
    margin-bottom: 20px;
}
.car-details-container {
    margin-bottom: 30px;
}
.car-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.car-image {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}
.car-label {
    font-weight: bold;
}
.car-info {
    margin-bottom: 10px;
}
.action-buttons a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    background-color: hsl(4, 2%, 17%);
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 10px;
}

    .action-buttons a:hover {
        background-color: hsl(4°, 2%, 17%);
    }
    .action-buttons a + a {
        margin-left: 10px;
    }
