@page
@model MarcusCarRentals.Pages.Admin.IndexModel
@{
}
<h1>Admin Panel</h1>

<ul>
    <li><a asp-page="/AdminCar/Index">Manage Cars</a></li>
    <li><a asp-page="/AdminUser/Index">Manage Users</a></li>
    <li><a asp-page="/AdminOrder/Index">Manage Orders</a></li>
</ul>
