@page
@model MarcusCarRentals.Pages.Admin.IndexModel
@{
}
<link rel="stylesheet" href="/css/AdminIndexStyle.css" />
<h1>Admin</h1>

<ul>
    <li><a href="/AdminCar/Index">Hantera Bilar</a></li>
    <li><a href="/AdminUser/Index">Hantera Användare</a></li>
    <li><a href="/AdminOrder/Index">Hantera Ordrar</a></li>
</ul>
