<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarcusCarRentals</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@*     <link rel="stylesheet" href="~/MarcusCarRentals.styles.css" asp-append-version="true" /> *@
    <script src="https://kit.fontawesome.com/b5430f6e7d.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <input type="checkbox" id="check"/>
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo"><a asp-page="/Index"><img src="/IMG/PageIMG.png"/></a></label>
        <ul>
            <li class="nav-item">
                <a class="active" asp-area="" asp-page="/Index">Hem</a>
            </li>
            <li class="nav-item">
                <a class="active" asp-area="" asp-page="/Cars/Index">Se alla bilar</a>
            </li>
            @if (Context.Session.GetString("UserId") != null && Context.Session.GetInt32("IsAdmin") == 0)
            {
                <li class="nav-item">
                    <a class="active" asp-area="" asp-page="/UserOrders/DisplayOrders">Mina ordrar</a>
                </li>
            }
            @if (Context.Session.GetInt32("IsAdmin") == 1)
            {
                <li class="nav-item">
                    <a class="active" asp-area="" asp-page="/Admin/Index">Admin</a>
                </li>
            }
            <li>
                @if (Context.Session.GetString("UserId") != null)
                {
                    <p>VÄLKOMMEN, @Context.Session.GetString("Email").ToUpper()!</p>
                    <li>
                    <form method="post" asp-page="/UserAuth/Logout">
                        <button class="logout-button" type="submit">Logga ut</button>
                    </form>
                    </li>
                }
                else
                {
                    <a asp-page="/UserAuth/Login">Logga in</a>
                }
        </ul>
    </nav>
    <div class="container">
        <main role="main" class="main-content">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2024 - MarcusCarRentals - <a class="privacy-link" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

@*     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>