@page
@model MarcusCarRentals.Pages.AdminCar.EditModel

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="/css/AdminEdit.css"/>

<h1 class="page-title">Edit</h1>

<h4 class="section-title">Car</h4>
<hr class="section-divider" />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="car-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Car.CarId" />

            <div class="form-group">
                <label asp-for="Car.Brand" class="control-label">Brand:</label>
                <input asp-for="Car.Brand" class="form-control" />
                <span asp-validation-for="Car.Brand" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Car.Model" class="control-label">Model:</label>
                <input asp-for="Car.Model" class="form-control" />
                <span asp-validation-for="Car.Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Car.Year" class="control-label">Year:</label>
                <input asp-for="Car.Year" class="form-control" />
                <span asp-validation-for="Car.Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Car.Description" class="control-label">Description:</label>
                <input asp-for="Car.Description" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Car.Price" class="control-label">Price:</label>
                <input asp-for="Car.Price" class="form-control" />
                <span asp-validation-for="Car.Price" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Car.IsAvailable" /> @Html.DisplayNameFor(model => model.Car.IsAvailable)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="back-link">
    <a asp-page="./Index">Tillbaka till alla bilar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
